<template>
  <div class="flex flex-col bg-dark-lighter rounded-3xl p-6">
    <div class="text-xs font-thin text-center text-gray-400 w-48">
      You'll be working with
    </div>
    <div class="pt-10 pb-2 justify-center">
      <img
        class="w-1/4 border-4 border-gray-600 rounded-full mx-auto"
        :src="this.person.pictureThumbnail"
        :alt="`${this.person.name} photo`"
      />
    </div>
    <div class="text-sm font-thin text-center text-green-torre mt-2 title-wrap">
      {{ this.person.name }}
    </div>
  </div>
</template>
<script src="./PxPersonCard.js"></script>
