<template>
  <div class="flex h-screen bg-dark-light w-full">
    <div
      class="
        pt-6
        pl-6
        border-r
        w-full
        border-gray-200
        overflow-y-auto
        no-scrollbar
      "
    >
      <div v-if="isLoading" class="flex justify-center h-screen items-center">
        <circle-loader
          :loading="isLoading"
          :color="'#CDDC39'"
          :size="100"
        ></circle-loader>
      </div>
      <div v-if="!isLoading">
        <h1 class="text-2xl text-white">Search {{ typeOfSearch }} by</h1>

        <div v-for="(filter, key) in filterName" :key="key">
          <div v-if="filter.dataArray">
            <div v-if="filter.dataArray.length !== 0">
              <h1 class="text-xl text-white pt-8 pb-1">
                {{ filter.labelName }}
              </h1>
              <ul>
                <li
                  @click="optClicked"
                  v-for="(item, index) in filter.dataArray"
                  :key="`${item}-${index}`"
                  class="text-lg text-green-torre hover:underline hover:cursor"
                >
                  <router-link
                    :to="item.link"
                    v-if="filter.labelName != 'Location'"
                  >
                    {{ item.value }} ({{ item.total | amount }})
                  </router-link>
                  <router-link :to="item.link" v-else>
                    {{ `${item.value == "yes" ? "Remote" : "Local"}` }} ({{
                      item.total | amount
                    }})
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./PxFilter.js"></script>
