<template>
  <div>
    <div class="flex flex-row justify-center pt-8">
      <div class="flex flex-col w-10/12 lg:w-1/2">
        <div class="flex rounded-lg bg-dark-light shadow-md overflow-hidden">
          <div
            @click="newTab(link)"
            class="
              flex
              content-center
              justify-center
              px-2
              py-2
              w-full
              cursor-pointer
            "
          >
            <div class="w-1/6 pt-6 justify-center hidden lg:block">
              <img
                class="w-2/4 rounded-full mx-auto"
                :src="picture"
                alt="organizations.picture"
              />
            </div>
            <div
              class="w-full lg:w-5/6 p-2 md:p-4 lg:pt-4 lg:pb-4 lg:pr-4 lg:pl-0"
            >
              <div class="flex justify-between">
                <div class="w-3/4 lg:w-full">
                  <div
                    class="
                      text-base
                      md:text-lg
                      lg:text-2xl
                      text-green-torre
                      capitalize
                      tracking-normal
                      title-wrap
                    "
                  >
                    {{ result.objective }}
                  </div>
                  <div
                    class="
                      text-xs
                      md:text-sm
                      lg:text-base
                      capitalize
                      text-gray-400
                      mt-1
                      mb-1
                    "
                  >
                    {{ type }}
                  </div>
                </div>
                <div>
                  <img
                    class="h-12 rounded-full block lg:hidden"
                    :src="picture"
                    alt="organizations.picture"
                  />
                </div>
              </div>
              <div
                class="
                  text-xs
                  md:text-sm
                  lg:text-base
                  capitalize
                  text-gray-400
                  mt-1
                  mb-1
                  flex
                  title-wrap
                  items-baseline
                "
              >
                <img
                  class="w-4 mr-1"
                  src="@/assets/icons/office-gray.svg"
                  alt="office-torre"
                  srcset=""
                />
                {{ organizationsName }}
              </div>
              <div
                class="
                  text-xs
                  md:text-sm
                  lg:text-base
                  capitalize
                  text-gray-400
                  mt-1
                  mb-1
                  flex
                  title-wrap
                  items-baseline
                "
              >
                <img
                  class="w-4 mr-1"
                  src="@/assets/icons/planet.svg"
                  alt="office-torre"
                  srcset=""
                />
                {{ location }}
              </div>
              <div
                class="
                  text-xs
                  md:text-sm
                  lg:text-base
                  capitalize
                  text-gray-400
                  mt-1
                  mb-1
                "
              >
                {{ compensation }}
              </div>

              <div
                class="
                  flex flex-nowrap
                  gap-x-4
                  w-full
                  py-4
                  overflow-x-scroll
                  hidden
                  lg:inline-flex
                  no-scrollbar
                "
              >
                <div
                  v-for="(skill, i) in skills"
                  :key="`${i}-${skill.name}`"
                  class="
                    flex-initial
                    px-5
                    py-2
                    rounded-sm
                    border-2 border-gray-300
                    text-gray-300 text-xs
                    shadow-md
                  "
                >
                  <p class="text-justify">{{ skill.name }}</p>
                </div>
              </div>

              <div class="flex justify-end pt-6">
                <button
                  class="
                    text-base
                    tracking-normal
                    px-8
                    py-2
                    bg-green-torreDark
                    rounded-sm
                    text-black
                    shadow-md
                    hover:bg-green-torre
                  "
                >
                  VIEW
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./PxCard.js"></script>
<style src="./PxCard.css"></style>
