/* .img-cover {
    display: flex;
    align-items: center;
    height: 350px;
    overflow: hidden;
    background-size: 100%;
    background-repeat: repeat-x;
  } */
  .contrast {
    box-shadow: -2px -2px 6px #383b40, 6px 6px 6px rgb(0 0 0 / 24%);
  }
  /* @media (min-width: 320px) {
    .img-cover {
      width: 320px;
    }
  }

  @media (min-width: 375px) {
    .img-cover {
      width: 375px;
    }
  }

  @media (min-width: 400px) {
    .img-cover {
      width: 400px;
    }
  }

  @media (min-width: 500px) {
    .img-cover {
      width: 500px;
    }
  }
  @media (min-width: 600px) {
    .img-cover {
      width: 600px;
    }
  }
  @media (min-width: 768px) {
    .img-cover {
      width: 768px;
    }
  }
  @media (min-width: 900px) {
    .img-cover {
      width: 900px;
    }
  }

  @media (min-width: 1024px) {
    .img-cover {
      width: 920px;
    }
  } */