<template>
  <div class="flex flex-row justify-center bg-dark-background">
    <div class="flex flex-col w-full lg:w-4/6">
      <div
        v-if="job"
        class="
          rounded-sm
          bg-dark-light
          shadow-md
          overflow-hidden
          h-screen
          overflow-y-auto
          no-scrollbar
        "
      >
        <div
          class="wrapper h-56 md:h-64 bg-center bg-cover overflow-hidden w-full"
          :style="`background-image: url('${getBanner}');`"
          title="job banner"
        ></div>
        <div
          class="
            -mt-16
            md:-mt-12
            p-6
            w-full
            md:w-3/4
            md:mx-auto
            md:mb-8
            rounded-t-3xl
            bg-dark-light
          "
        >
          <div
            class="
              text-lg text-white
              normal-case
              text-left
              break-words
              tracking-normal
              max-w-screen-md
            "
          >
            {{ job.objective }}
          </div>
          <div class="text-sm capitalize text-gray-500">
            {{ agreement }}
          </div>
        </div>
        <div class="px-6 pb-24">
          <div class="text-sm font-thin text-green-torre">
            Organization(s) name(s)
          </div>

          <div class="content-start items-center flex mt-2 w-full">
            <div>
              <img
                class="w-10 mr-4 border-2 border-gray-600 rounded-full"
                :src="picture"
                alt="organizations.picture"
              />
            </div>
            <div class="text-sm font-thin text-white">
              {{ organizationsName }}
            </div>
          </div>

          <div class="text-sm font-thin text-green-torre mt-5">Location(s)</div>
          <div class="text-sm font-thin text-gray-500">
            {{ location }}
          </div>
          <div
            class="
              md:mt-8
              md:mb-8
              md:flex md:flex-col
              md:py-8
              md:rounded-3xl
              md:bg-dark-lighter
            "
          >
            <div
              class="text-sm font-thin md:mx-auto text-green-torre mt-5 md:mt-0"
            >
              Monetary compensation
            </div>
            <div
              class="
                text-base
                font-thin
                md:mx-auto
                md:mt-2
                md:text-xl
                text-gray-500
              "
            >
              {{ compensation }}
            </div>
          </div>

          <div v-if="showTeam" class="text-sm font-thin text-green-torre mt-5">
            The team
            <div class="flex flex-row w-full mt-2 ml-6 mr-6">
              <div class="flex space-x-4 overflow-x-auto no-scrollbar w-full">
                <px-person-card
                  v-for="person in teamMembers"
                  :key="person.id"
                  :person="person"
                />
              </div>
            </div>
          </div>

          <div v-if="showGraph">
            <div class="text-sm font-thin text-green-torre my-10">
              Our team personality trait avg
            </div>

            <div class="w-full justify-center bg-gray-00">
              <div v-if="isLoading" class="flex justify-center items-center">
                <circle-loader
                  :loading="isLoading"
                  :color="'#CDDC39'"
                  :size="80"
                ></circle-loader>
              </div>

              <div id="chart">
                <apexchart
                  v-if="!isLoading"
                  type="line"
                  height="350"
                  :options="chartOptions"
                  :series="series"
                ></apexchart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./Job.js"></script>
<style src="./Job.css"></style>
