<template>
  <header class="shadow w-full border-b border-gray-600">
    <nav class="flex items-center justify-between flex-wrap bg-dark-light p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <img class="mr-2" width="50" height="50" src="@/assets/logo.png" />
        <router-link
          :to="{ name: 'home' }"
          class="font-semibold text-xl tracking-tight"
          >torre lite
        </router-link>
      </div>
      <div class="block sm:hidden">
        <button
          @click="toggle"
          class="
            flex
            items-center
            px-3
            py-2
            border
            rounded
            text-white
            border-white
            hover:text-white
            hover:border-white
          "
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        :class="open ? 'block' : 'hidden'"
        class="w-full flex-grow sm:flex sm:items-center sm:w-auto"
      >
        <div class="text-sm sm:flex-grow">
          <router-link
            v-for="link in links"
            :key="link.title"
            :to="link.to"
            class="
              block
              mt-4
              lg:inline-block
              lg:mt-0
              text-teal-200
              hover:text-white
              mr-4
            "
          >
            {{ link.title }}
          </router-link>
        </div>
        <div></div>
      </div>
    </nav>
  </header>
</template>
<script src="./PxHeader.js" />
