<template>
  <div class="flex">
    <div class="h-screen w-screen flex-col bg-dark-background">
      <div
        class="bg-center bg-cover h-full image-back mt-0 pt-0"
        :style="`background-image: url('${getBackground}');`"
      >
        <div class="flex flex-row justify-center h-screen">
          <div class="flex flex-col items-center justify-end">
            <div class="text-xl font-thin text-white mb-5">
              Let's make work fulfilling
            </div>
            <router-link
              :to="{ name: 'search', params: { type: 'opportunities' } }"
              class="
                text-base
                tracking-normal
                px-8
                py-2
                bg-green-torre
                rounded-sm
                text-black
                shadow-md
                font-thin
                hover:bg-green-torreDark
                mb-20
              "
            >
              FIND WORK
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./Home.js"></script>
<style src="./Home.css"></style>
