<template>
  <main>
    <px-header :links="links" />
    <router-view />
  </main>
</template>

<script>
import PxHeader from "@/components/Header/PxHeader.vue";

export default {
  name: "App",
  data() {
    return {
      links: [
        {
          title: "Jobs",
          to: { name: "search", params: { type: "opportunities" } },
        },
        // {
        //   title: "People",
        //   to: { name: "search", params: { type: "people" } },
        // },
      ],
    };
  },
  components: {
    PxHeader,
  },
};
</script>
