<template>
  <div class="flex">
    <div class="h-screen w-screen flex-col bg-dark-background">
      <div
        class="bg-center h-full image-back mt-0 pt-0"
        :style="`background-image: url('${getBackground}');`"
      >
        <div class="flex flex-row justify-center lg:justify-end h-screen">
          <div class="flex flex-col items-center pt-5 lg:justify-end">
            <div class="text-3xl font-thin text-white mb-5 lg:mr-10">
              PAGE NOT FOUND 404
            </div>
            <router-link
              :to="{ name: 'search', params: { type: 'opportunities' } }"
              class="
                text-base
                tracking-normal
                px-8
                py-2
                bg-green-torre
                rounded-sm
                text-black
                shadow-md
                font-thin
                hover:bg-green-torreDark
                mb-20
              "
            >
              BACK TO FIND WORK
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./Error.js"></script>
