<template>
  <div class="flex flex-wrap">
    <div class="w-3/4 md:w-2/6 lg:w-1/5 h-screen hidden lg:inline-block">
      <px-filter
        :typeOfSearch="typeOfSearch.abbre"
        :isLoading="isLoading"
        :filters="filters"
      />
    </div>
    <div
      :class="showModal ? 'hidden' : 'inline-block'"
      class="w-full lg:w-4/5 inline-block bg-dark-background"
    >
      <div class="h-screen overflow-y-auto no-scrollbar pb-56">
        <div class="flex flex-wrap justify-center pt-16 pb-10">
          <div class="flex flex-co">
            <p class="text-4xl text-green-torre">
              List of {{ typeOfSearch.abbre }}
            </p>
          </div>
          <div class="block lg:hidden">
            <button @click="modalToggle" class="flex items-center px-3 py-4">
              <img
                class="w-6 h-6"
                src="@/assets/icons/filter.svg"
                alt="Filter your search"
              />
            </button>
          </div>
        </div>
        <div v-if="isLoading" class="flex justify-center h-screen items-center">
          <circle-loader
            :loading="isLoading"
            :color="'#CDDC39'"
            :size="100"
          ></circle-loader>
        </div>
        <div v-if="!isLoading">
          <px-card
            v-for="result in results"
            :key="result.id"
            :result="result"
          />
        </div>
      </div>
    </div>

    <div :class="showModal ? 'block' : 'hidden'" class="h-screen w-full">
      <div class="flex flex-col w-full h-screen bg-dark-light">
        <div class="flex flex-row justify-end">
          <img
            @click="modalToggle"
            class="w-6 h-6 m-8"
            src="@/assets/icons/cross.svg"
            alt="Close the modal"
          />
        </div>
        <px-filter
          @opt-clicked="modalToggle"
          :typeOfSearch="typeOfSearch.abbre"
          :isLoading="isLoading"
          :filters="filters"
        />
      </div>
    </div>
  </div>
</template>

<script src="./Search.js"></script>
<style src="./Search.css"></style>
